.boton{
    font-size: 1em;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 3px;
    border: 2px solid rgb(0,0,0.5);
    color: white;
    background-color:  rgb(105, 199, 77);
    text-decoration: none;
}

.boton:hover{
background-color: rgb(89, 169, 66);}


