.boton{
    font-size: 1em;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 3px;
    color: white;
    background-color: #56abb8;
    text-decoration: none;
}

.boton:hover{
background-color: rgb(89, 169, 66);
color: aliceblue;
text-decoration: none;
}



